@use '../../assets/styles/scss/mixin' as *;

.list {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;

  li {
    @include flex(center);
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0 20px;
    .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid rgba(56, 67, 78, 0.13);
      padding: 10px;
      font-size: 1.3rem;
      span {
      font-weight: 500;
      font-size: 1.7rem;
      }
    }

    img {
      border-radius: 45%;
    }
    &.active {
      background-color: rgba(48, 91, 124, 0.62);
      color: #fff;
    }
  }
}