.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: auto 70vh auto;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;

  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #e5e5e5;

    img {
      border-radius: 50%;
    }

    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 400;
      color: green;
      &.offline {
        color: red;
      }
    }
  }

  .message_submit {
    font-size: 1.8rem;
    padding: 10px;
    background-color: rgba(57, 98, 123, 0.83);
    color: #fff;
    border-radius: 20px;
    width: 100px;
  }


  .message_box {
    display: flex;
    background-color: #e5e5e5;
    padding: 10px;

    textarea {
      background: none;
      color: #38434E;
      border: none;
      font-size: 1.8rem;
      outline: none !important;
      resize: none;
      height: auto !important;
      width: 100% !important;
    }
  }
}
